* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-left: 1em;
    padding-right: 1em;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left,
.right {
    display: flex;
    flex-direction: row;
}


.logo{
  width: 50px;
  height: 50px;

}

h2,
h3,
h4,
p {
    margin-top: 1em;
    margin-bottom: 1em;
}

h4{
    display: inline-block;
    margin-left: 1em;
}

main {
    position: relative;
}


.image-firstfPage {
    width: 100%;
    border-radius: 5%;
   
}

.summary {
    position: absolute;
    bottom: 10px;
    color: white;
    font-size: 0.5rem;
    width: 70%;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 1.5;
}




a:hover ,
a:visited{
    color: black;

}





.image-me {
    width: 30%;
    
    border-radius: 50%;
    margin-left: 2em;
}

.projects {
    display: grid;
    place-items: center;
    
    
}

.image-project {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10%;

    box-shadow: 10px 10px 5px #ccc;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;

}

footer {
    background: blue;
    color: white;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;

}

.article {
    width: 90%;
    margin: auto;
}

.image-article {
    display: grid;
    margin: auto;
    width: 100%;
    border-radius: 5%;
}



@media (min-width: 600px) {

    .image-firstfPage,
    .image-article {
        max-height: 50vh;
        max-width: 100%;
        object-fit: cover;
        margin: auto;
    }

    .image-article {
        max-height: 70%;
        max-width: 70%;
        border-radius: 5%;
    }

    .summary {
        font-size: 1em;
        bottom: 30px;
        width: 40%;
    }
    
    .article {
        
        margin: auto;
        padding-left: 8em;
        padding-right: 8em;
        max-width: 800px;
        line-height: 1.5;
        min-width: 80%;
        
       
    }

    .projects {
        padding: 2em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em 1em;
        max-width: 80%;
        margin: auto;
        line-height: 1.5;
        
    }

    .recentArticle {
        text-align: center;
        grid-column: 1/-1;
    }

    .bio-info {
        max-width: 80%;
        margin: auto;
        
    }

    .bio-info .introduction {
        margin: auto;
        max-width: 90%;
        display: grid;
        grid-template-columns: 200px 3fr;
        grid-gap: 0 1em;
        padding: 1em;
       

        
    }

    .image-me {
        width: 80%;
        align-self: center;
        justify-self: start;
        
        
    }

    

    
    
}




