body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
   
 
   
}

.container {
  width: 570px;
  margin: 0 auto;
}

h1,
h2 {
    font-weight: 300;
    padding-top: 0;
    margin: 0px;
}

header,
section {
  padding: 100px 0;
}

h1 {
  font-size: 60px;
  
}

h2 {
  font-size: 42px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 10px 0px;
 
}

h3 {
  font-size: 36px;
  font-weight: 900;
 
}

.small-text {
  font-size: 16px;
}

h1 .bold-text {
  font-weight: 200px;
  display: block;
  font-weight: 900;
  padding-bottom: 10px;

}

h2 .bold-text {
  font-weight: 60px;
  display: block;
  font-weight: 900;
  padding-bottom: 10px;
}

p a {
  color: #99d930;
}

a:hover {
  color: #FFF;
}

.top {
  background-color: #252525;
  color: #fff;
  

}

.section-1 {
  background-color: #ffeaea;
  
}

.section-2 {
  background-color: #252525;
  color: #fff;
}

a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
 

}

.btn{
  background-color: #99d990;

  font-weight: 500;
}

.btn:hover,
.btn:focus {
  background-color: #99d990;
 
  font-weight: 900;

}

.btn-1 {
  color: #000;
}

.btn-1:hover {
  color: #fff;
}

.btn-2 {
  color: #fff;
}

.btn-2:hover {
  color: #000;
}
  

.bold-text,
.name,
.time {
  color: #99d990;
}
